<section class="section has-background-white-ter">
  <div class="container">
    <div class="columns">
      <div class="column is-half-desktop is-offset-one-quarter-desktop is-one-third-fullhd is-offset-one-third-fullhd">
        <div class="box content">
          <h2><%= t("shared.form.edit_heading", resource: resource_name.to_s.humanize).titlecase %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render partial: "shared/form_errors_notification", locals: {resource: resource} %>
            <div class="field">
              <%= f.label :email, class: "label" %>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t "shared.form.awaiting_email_confirmation",  email: resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password, t("shared.form.new_password").upcase_first, class: "label" %>
              <div class="control">
                <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
              </div>
              <%= help_error_message resource, :password, t("edit_user.form.help.new_password", min_pwd_length: minimum_password_length) %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: "label" %>
              <div class="control">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
              </div>
              <%= help_error_message resource, :password_confirmation %>
            </div>

            <div class="field">
              <%= f.label :timezone, class: "label" %>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                <%= f.time_zone_select :timezone, nil, { selected: :timezone }, { class: "input" } %>
                </div>
              </div>
            </div>

            <hr>
            <%= f.label :current_password, class: "label" %>
            <div class="field has-addons">
              <div class="control is-expanded">
                <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
              </div>
              <div class="control">
                <%= f.submit t("shared.update").upcase_first, class: "button is-primary", disabled: "disabled", id: "update-user-submit" %>
              </div>
            </div>
            <%= help_error_message resource, :current_password, t("edit_user.form.help.current_password") %>
          <% end %>
          <hr>
          <h3><%= t("shared.form.cancel_account").upcase_first %></h3>

          <p><%= t("shared.unhappy").upcase_first %></p>
          <%= button_to t("shared.form.cancel_account").upcase_first, registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %>
          <hr>
          <%= link_to t("shared.back").upcase_first, :back %>
        </div>
      </div>
    </div>
  </div>
</section>
