<section class="section has-background-white-ter">
  <div class="container">
    <div class="columns">
      <div class="column is-half-desktop is-offset-one-quarter-desktop is-one-third-widescreen is-offset-one-third-widescreen">
        <div class="box content">
          <h2>Forgot your password?</h2>
          <p>You can request a password reset, we'll email you instructions to do this.</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render partial: "shared/form_errors_notification", locals: {resource: resource} %>

            <div class="field">
              <%= f.label :email, class: "label" %>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Request password reset", class: "button is-primary" %>
            </div>
          <% end %>
          <hr>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>

